<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamjw.template.mapper.PlaceMapper">

<!--	<select id="selectCityById" resultType="Place">
        SELECT ID
              ,NAME
              ,COUNTRY
              ,POPULATION
          FROM PLACE
         WHERE ID = #{id}
    </select>
-->
	<select id="selectPlaceList" resultType="com.teamjw.template.app.place.domain.Place">
        SELECT ID
              ,NAME
              ,COUNTRY
              ,POPULATION
          FROM PLACE
    </select>

    <!--
	<insert id="insertCity">
      INSERT INTO PLACE (NAME, COUNTRY, POPULATION)
      VALUES (#{name}, #{country}, #{population})
    </insert>
    -->
</mapper>